# General
black
isort
pre-commit

# For webapp
flask
flask_babel
git+https://github.com/pytube/pytube

# For data analysis
matplotlib
numpy
pandas

# For ML
scikit-learn
torch
torchinfo
torchvision
opencv-contrib-python
