Fabric
Flask
beautifulsoup4
black
isort
jupyter
matplotlib
networkx
notebook
numpy
opencv-contrib-python
pandas
pre-commit
pre-commit-hooks
scikit-learn
torch
torchaudio
torchvision
torchinfo
werkzeug
git+https://github.com/pytube/pytube