{% extends 'layouts/main.html' %}
{% block title %}{{_('Online experiment')}}{% endblock %}
{% block content %}

<h1 class="mt-5">{{_('Online experiment')}}</h1>
<p class="text-center"><img width="33%" src="static/img/supermariopreview.png" alt="supermariopreview"><br/><br/>
<p class="lead">{{_('Experiment yourself the input prediction !')}}</p>
<p>{{_('We invite you to record a fullscreen video of a Super Mario Bros gameplay in MP4. To do so, you can use <a href="https://obsproject.com/fr/" target="_blank">OBS</a> or do Windows+Alt+R in Windows')}}</p>
<p>{{_('Then, you only have to upload the file here : ')}}</p>
<form action="/uploader" method="POST" enctype="multipart/form-data">
  <div class="input-group">
    <input class="form-control" id="formFileLg" type="file" name="file">
    <button class="btn btn-danger" type="submit">{{_('Send')}}</button>
  </div>
  <hr class="mt-4 mb-4"/>
  <div>
    <p class="lead">{{_('... Or you can also use the example data.')}}</p>
    <p>{{_('We provided an example video with data, so that you can use the tool without providing your own data.')}}</p>
    <p><a class="btn btn-danger" href="/example">{{_('Clic here')}}</a></p>
  </div>
</form>

{% endblock %}
