{% extends 'layouts/main.html' %}
{% block title %}{{ _('Online experiment') }}{% endblock %}
{% block content %}

    <h1 class="mt-5">{{ _('Online experiment') }}</h1>

    <div class="container">
        <p class="lead">{{ _('General information') }}</p>
        <div class="row">
            <div class="col">
                <p>{{ _('This page runs a deep learning model that recognize the key logs from a short extract of a Super Mario Bros gameplay') }}</p>
                <p>{{ _('We are currently working on improving the model, right now it has the following limitations :') }}</p>
                <ul>
                    <li>{{ _('The video should be a fullscreen recording (no frame around the game itself)') }}</li>
                    <li>{{ _('The ratio should be the same as the original game (black borders are fine, but the original game should not be stretched)') }}</li>
                    <li>{{ _('The run button is not recognized') }}</li>
                    <li>{{ _('For computational reasons, only the first 13 first minutes will be processed if the video contains more') }}</li>
                    <li>{{ _('The video must be in .MP4 format') }}</li>
                </ul>
                <p>{{ _('The video can be recorded with any software, but we recommend <a href="https://obsproject.com/fr/" target="_blank">OBS</a> or the shortcut Windows+Alt+R in Windows') }}</p>
            </div>
            <div class="col-3">
                <p class="text-center"><img width="100%" src="static/img/supermariopreview.png" alt="supermariopreview">
                </p>
            </div>
        </div>
        <hr class="mt-4 mb-4"/>
        <p class="lead">{{ _('Experiment yourself the input prediction !') }}</p>
        <p>{{ _('Upload here the video to process, then press "Send"') }}</p>
        <form action="/uploader" method="POST" enctype="multipart/form-data">
            <div class="input-group">
                <input class="form-control" id="formFileLg" type="file" name="file">
                <button class="btn btn-danger" type="submit">{{ _('Send') }}</button>
            </div>
        </form>
        <hr class="mt-4 mb-4"/>
        <div>
            <p class="lead">{{ _('... Or you can also use the example data.') }}</p>
            <p>{{ _('If you do not wish to provide you own video, you can use our example data. <br> This example video comes with the truth key logs to assess the model performance.') }}</p>
            <p><a class="btn btn-danger" href="/example">{{ _('Use example data') }}</a></p>
        </div><hr class="mt-4 mb-4"/>
        <div>
            <p class="lead">{{ _('... Or you can use a YouTube video.') }}</p>
            <p>{{ _('You can use gameplay videos on YouTube for the experience. These videos must respect the same constraints mentioned above.') }}</p>
            <form action="/youtube" method="POST" enctype="multipart/form-data">
            <div class="input-group">
                <input class="form-control" id="formURL" type="text" name="url" pattern="^((?:https?:)?\/\/)?((?:www|m)\.)?((?:youtube(-nocookie)?\.com|youtu.be))(\/(?:[\w\-]+\?v=|embed\/|v\/)?)([\w\-]+)(\S+)?$">
                <button class="btn btn-danger" type="submit">{{ _('Send') }}</button>
            </div>
        </form>
        </div>
    </div>

{% endblock %}
