{% extends 'layouts/main.html' %}
{% block title %}{{ _('Loading') }}{% endblock %}
{% block content %}

    <h1 class="mt-5">{{ _('Processing of the video') }}</h1>
    <p><img src="static/img/cat.gif" width="5%"></p>
    <div id="progress-ml" class="progress">
        <div id="progress-bar" class="progress-bar progress-bar-striped bg-danger progress-bar-animated"
             role="progressbar" aria-label="Processing the video" style="width: 0%;" aria-valuenow="0" aria-valuemin="0"
             aria-valuemax="100"><span id="progress">0%</span>
        </div>
    </div>
    <p>Your video is currently being processed. The estimated duration of this operation is <span id="duration">X</span>
        minutes. You can leave this page and return to the following address to see the result: {{ link }}</p>
    <p>The video will be available for viewing for three days, then it will be deleted</p>
{% endblock %}
{% block javascript %}
    <script>
        setInterval(() => {
            let filename = (new URLSearchParams(window.location.search)).get("filename")
            const request = new XMLHttpRequest()
            request.open("GET", "/progression?filename=" + filename)
            request.responseType = "json"
            request.send()
            request.onload = () => {
                let result;
                if (request.readyState === 4 && request.status === 200) {
                    if (request.response.progression === 1) {
                        window.location.replace("{{ url_for('experience_show') }}?filename=" + filename);
                    }
                    result = parseInt(request.response.progression * 1000) / 10
                } else {
                    result = "Impossible de communiquer avec le serveur"
                }
                document.getElementById("progress-bar").setAttribute("aria-valuenow", result)
                document.getElementById("progress-bar").style.width = result + "%"
                document.getElementById("progress").innerHTML = result + "%"

            };
        }, 3000)
    </script>
{% endblock %}
