/* Base */
hr{
    margin: 5px 0px 5px 0px;
}

/* Main tags */
section{
    margin:auto;
    width:1400px;
}
td, th{
    padding: 5px;
    width:70px;
}

/* Structure */
.grid11{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.fs-small{
    font-size: 70%;
}


#parameters{
    display:grid;
}

#parameters div{
    display:inline-grid;
    margin:5px;
}
/* Various */
#AI_result{
    font-size: 12pt;
}